<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="Val" @keydown.enter="add">
        <button @click.enter='add'>增加</button>
        <ul>
            <li v-for="(item,index) in list" @click="delet(index)">{{item}}</li>
        </ul>
    </div>
</body>
<script src="./vue.js"></script>
<script>
    var arr = new Vue({
        el: '#app',
        data: {
            Val: '',
            list: [],
            reg:/\s/g
        },
        methods: {
            add() {
                
                if (!this.reg.test(this.Val)) {
                    alert("禁止添加空")
                } else {
                    this.list.push(this.Val);
                    this.Val = ""
                }
            },
            delet(a) {
                this.list.splice(a, 1)
            }
        }
    });

</script>

</html>